.search-card {
  display: flex;
  margin-bottom: 20px;

  &-details {
    flex-grow: 1;
    padding: 15px;
  }

  &-media {
    width: 150px;
  }
  &-image {
    width: 150px;
    height: 100px;
  }
  &-tag:not(:last-child) {
    margin-right: 5px;
  }
}
