.search-card {
  display: flex;
  margin-bottom: 20px;

  &-details {
    flex-grow: 1;
    padding: 15px 15px 35px 15px;
    position: relative;

    &-popularity {
      bottom: 5px;
      position: absolute;
    }

    &-icon {
      vertical-align: top;
    }
  }

  &-media {
    width: 150px;
  }
  &-image {
    width: 150px;
    height: 100px;
  }
  &-tag:not(:last-child) {
    margin-right: 5px;
  }
}
